body {
  background-color: #cccccc; }

.toggleOn {
  background-color: #dddddd;
  border-style: inset;
  border-width: 2px;
  width: 20px;
  height: 20px;
  margin: 4px; }

.toggleOff {
  background-color: #bbbbbb;
  border-style: outset;
  border-width: 2px;
  width: 20px;
  height: 20px;
  margin: 4px; }

.control-wide {
  width: 100%; }

#wf-control-panel {
  height: 600px;
  background-color: #aaaaaa; }

#wf-canvas {
  height: 600px;
  width: 800px;
  background-color: white;
  margin: 0 auto; }

#wf-canvas-wrapper {
  text-align: center; }
